---
import { Image } from "astro:assets";
import Layouts from "../layouts/Layouts.astro";
import { GetDataTrending, getByCategory, getTrending, getUserFromToken } from "./actions/get.astro";
import ContentMid from "../components/ContentMid"
import Content3 from "../components/Content3";
import Content4 from "../components/Content4";
import Content1 from "../components/Content1.astro";
const data = await GetDataTrending()
const populer = await GetDataTrending()
const hotNews = await getByCategory()
const Trending = await getTrending()

---
<Layouts title="Home Page">
      <Content1 data={data}  title={"Home Page"}/>
      <ContentMid data={populer} />  
    <div class="px-10">
      <Content3 data={hotNews} title="Hot News" client:load>
    </div>
    <div class="px-10 pt-[200px]">
      <Content4 data={Trending}/>
    </div>
</Layouts>