---
import type { DataAstro } from "../components/types";
import BannerPopular from '../components/BannerPopular'
import Layouts from "../layouts/Layouts.astro";
import '../styles/global.css'
import { GetDataTrending } from "./actions/get.astro";
import ContentMid from "../components/ContentMid";
import Content3 from "../components/Content3";
import Content4 from "../components/Content4";
const data  = await GetDataTrending()

---

<Layouts title={'Popular Page '}>
  <BannerPopular data={data} client:load/>
  <section class="grid grid-cols-1  sm:grid-cols-5 px-10 py-[50px]">
      <ContentMid data={data}/>
    </section>
  <section class="px-10">
      <Content3 data={data} title="Popular" client:load/>
    </section>
  <section class="px-10 py-[50px]">
      <Content4 data={data} title="Popular"/>
    </section>
</Layout>