---
const { title } = Astro.props;
import Footer from "../components/Footer";
import Headers from "../components/header"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={title} />
    <title>{title}</title>
</head>
<body >
    <Headers client:load/>
    <slot />
    <Footer client:load/>
</body>
</html>