---
import type { GetStaticPaths } from "astro";
import Footer from "../components/Footer";
import Headers from "../components/header"
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
import { GetDataTrending } from "../pages/actions/get.astro";
import type { Data } from "../components/types";
import BaseHead from "../components/BaseHead.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={title}  description={description}/>
</head>
<body >
    <Headers client:load/>
    <slot />
    <Footer client:load/>
</body>
</html>